<button>
	<slot />
</button>

<style>
	button {
		display: block;
		height: 44px;
		padding: 10px 24px;
		font-size: 20px;
		line-height: 24px;
		background-color: var(--orange);
		text-transform: uppercase;
		color: white;
		outline: none;
		border: none;
		border-radius: 8px;
		box-shadow: 2px 2px 4px 0px #72483233;
		cursor: pointer;
		transition: all 0.3s linear;

		&:hover {
			filter: saturate(1.3);
		}
		&:active {
			box-shadow: none;
		}
	}
</style>
