---
import Layout from '../layouts/Layout.astro'
import BaseNavbar from '../components/astro/BaseNavbar.astro'
import BaseHero from './partials/BaseHero.astro'
import { Image } from 'astro:assets'

import BackgroundParallax from '../assets/img/background-16-9.png'
import SobreMi from './partials/SobreMi.astro'
import ComoTrabajamos from './partials/ComoTrabajamos.astro'
import InfoEntregas from './partials/InfoEntregas.astro'
import BaseFooter from './partials/BaseFooter.astro'
import Productos from './partials/Productos.astro'
import WhatsappButton from '../components/astro/whatsappButton.astro'
---

<Layout title="Inés a la cocina">
	<BaseNavbar />
	<main>
		<BaseHero />
		<SobreMi />
		<Productos />
		<ComoTrabajamos />
		<InfoEntregas />
	</main>
	<BaseFooter />
	<Image src={BackgroundParallax} alt="" class="parallax" />
	<WhatsappButton />
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: black;
	}
	.text-gradient {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.contenido {
		height: 100vh;
		width: 100%;
	}

	.parallax {
		display: none;
	}

	/* TABLE SM */
	@media (min-width: 640px) {
	}

	/* TABLET MD */
	@media (min-width: 768px) {
		.parallax {
			display: block;
			position: fixed;
			height: 100vh;
			width: 100vw;
			background-size: cover;
			z-index: -100;
			background-size: auto;
			top: 0;
			right: 0;
		}
	}

	/* TABLET LG */
	@media (min-width: 1024px) {
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
	}

	/* DESKTOP LG */
	@media (min-width: 1536px) {
	}
</style>
