---
import { Image } from 'astro:assets'
import Logo from '../../assets/icons/logo/logo-cuadrado.svg'
import Instagram from '../../assets/icons/svg/instagram-logo.svg'
---

<footer id="contacto">
	<div class="wave"></div>
	<div class="content">
		<p>Ciudad Autónoma de Buenos Aires, Argentina</p>
		<p>(+54 9) 11 6539-2658</p>
		<Image src={Logo} alt="Logo de Inés a la cocina" class="mx-auto logo" />
		<div class="redes">
			<span>Seguinos en redes</span>
			<Image src={Instagram} alt="Instagram" />
			<a
				href="https://www.instagram.com/inesalacocina/"
				target="_blank"
				no-referrer
			>
				inesalacocina
			</a>
		</div>

		<div class="referencias">
			<p>Imágenes por <a href="http://www.freepik.es/">Freepick</a></p>
		</div>
	</div>
</footer>

<style>
	footer {
		width: 100%;
		padding-bottom: 24px;
		color: white;
		background-color: #724832ea;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		z-index: 1000;

		.content p {
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			color: white;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.logo {
		width: 162px;
	}

	.redes {
		display: inline-flex;
		gap: 4px;
		font-size: 16px;

		img {
			margin-left: 12px;
		}
	}
	.wave {
		--mask: radial-gradient(
					38.59px at 50% calc(100% - 53px),
					#000 99%,
					#0000 101%
				)
				calc(50% - 40px) 0/80px 100%,
			radial-gradient(
					38.59px at 50% calc(100% + 33px),
					#0000 99%,
					#000 101%
				)
				50% calc(100% - 20px) / 80px 100% repeat-x;
		-webkit-mask: var(--mask);
		mask: var(--mask);
	}

	.wave {
		position: initial;
		transform: rotate(180deg) translateY(100%);
		display: block;
		height: 40px;
		width: 100dvw;
		background: #724832ea;
		-webkit-mask: var(--mask);
		mask: var(--mask);
		z-index: 999;
	}

	.referencias {
		font-size: 12px;
		margin-top: 16px;
		a {
			color: initial;
			text-decoration: underline;
		}
	}

	@media (min-width: 1024) {
		.content p,
		.redes {
			font-size: 18px;
			line-height: 24px;
		}
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
		.content p,
		.redes {
			font-size: 20px;
		}

		.logo {
			width: 170px;
			margin: 32px;
		}
	}
</style>
