---
import { Image } from 'astro:assets'
import SectionHeader from '../../components/astro/SectionHeader.astro'
import BaseButton from '../../components/astro/BaseButton.astro'
import BgWave from '../../assets/img/wave-section-1.svg'
import BannerComoTrabajamos from '../../assets/img/banner-como-trabajamos.png'
import Pan from '../../assets/icons/png/pan-lactal.png'

const urlMenu: string = import.meta.env.URL_MENU
---

<section id="como-trabajamos" class="como-trabajamos">
	<SectionHeader>¿Cómo trabajamos?</SectionHeader>
	<div class="como-trabajamos-content container my-12 px-8 lg:px-16 xl:px-40">
		<div class="como-trabajamos-img-container animated">
			<Image
				src={BannerComoTrabajamos}
				alt="¿Cómo trabajamos?"
				class="como-trabajamos"
			/>
		</div>
		<div class="como-trabajamos-info-container animated">
			<p class="como-trabajamos-info mb-8">
				Tomamos pedidos con <b>48 horas de anticipación</b> como mínimo,
				<b>vía WhatsApp.</b>
				Aplica tanto para tortas, postres y <b
					>productos incluidos en el menú</b
				>, como para la elaboración de <b
					>comidas en fechas especiales.</b
				>
				<br />Todos los productos <b>se pueden personalizar a pedido.</b
				>
			</p>
			<BaseButton href={urlMenu}>Realizar pedido</BaseButton>
		</div>
	</div>
	<Image src={BgWave} alt="" class="img-wave" />
	<Image src={Pan} alt="" class="img-pan" />
</section>

<script>
	import ObserverAnimation from '../../utils/ObserverAnimation'

	document.addEventListener('DOMContentLoaded', () => {
		ObserverAnimation('.como-trabajamos-info-container', 'slide-right', 768)
		ObserverAnimation(
			'.como-trabajamos-img-container',
			'slide-left',
			0,
			768,
		)
	})
</script>

<style>
	.como-trabajamos-content {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
	}
	.como-trabajamos-img-container {
		padding: 8px;
		border: 1px solid var(--chocolate);
		margin-bottom: 16px;
		max-width: 460px;
		opacity: 0;
	}

	.como-trabajamos-info {
		display: block;
		font-size: 16px;
		line-height: 20px;
		max-width: 460px;

		b {
			font-style: italic;
			font-weight: 600;
		}
	}

	.img-pan {
		display: none;
	}

	/* TABLE SM */
	@media (min-width: 640px) {
		.como-trabajamos-info {
			font-size: 20px;
			line-height: 28px;
		}
	}

	/* TABLET MD */
	@media (min-width: 768px) {
		.como-trabajamos-content {
			padding: 16px 0;
			grid-template-columns: repeat(2, 1fr) !important;

			justify-items: stretch;
			column-gap: 24px;
		}

		.como-trabajamos-info-container {
			opacity: 0;
		}

		.como-trabajamos-img-container {
			opacity: 1;
			padding: 16px;
			margin-bottom: 16px;
		}
	}

	/* TABLET LG */
	@media (min-width: 1024px) {
		.como-trabajamos-content {
			column-gap: 72px;
		}
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
		.como-trabajamos-content {
			padding: 16px 160px;
		}
		.como-trabajamos-content {
			animation-name: inherit !important;
		}
		.img-pan {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 210px;
		}
	}

	/* DESKTOP LG */
	@media (min-width: 1536px) {
	}
</style>
