---
import { Image } from 'astro:assets'
import SectionHeader from '../../components/astro/SectionHeader.astro'
import BaseButton from '../../components/astro/BaseButton.astro'
import BgWave from '../../assets/img/wave-section-1.svg'
---

<section id="entregas" class="entregas">
	<SectionHeader>Entregas</SectionHeader>
	<div class="entregas-content container my-12 px-8 lg:px-16 xl:px-40">
		<div class="entregas-info-container animated">
			<p class="entregas-info mb-8">
				Las entregas se realizan en un <b
					>punto de encuentro a acordar con el cliente, una vez
					realizado el pedido vía WhatsApp</b
				>.Hacemos entregas en
				<b>zona Parque Saavedra (CABA, Buenos Aires)</b> o se pueden retirar
				en mi domicilio.
			</p>
			<BaseButton>Consultar</BaseButton>
		</div>
		<div
			class="entregas-iframe-container mx-auto px-4 animated slide-bottom"
		>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13144.432285766752!2d-58.4798156!3d-34.550819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb696ab5cb4ed%3A0x887c745720a0e9b6!2sParque%20Saavedra!5e0!3m2!1ses!2sar!4v1729993056247!5m2!1ses!2sar"
				width="568"
				height="450"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<Image src={BgWave} alt="" class="img-wave" />
</section>

<style>
	.entregas-content {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
		gap: 24px;

		border: 1px solid;
	}

	.entregas-info-container {
		background-color: #edffd6;
		z-index: 100;
	}

	.entregas-info {
		display: block;
		font-size: 16px;
		line-height: 20px;
		max-width: 460px;

		b {
			font-style: italic;
			font-weight: 600;
		}
	}
	.img-wave {
		transform: scaleX(-1);
	}

	.img-pan {
		display: none;
	}

	.entregas-iframe-container {
		position: relative;
		grid-row: 1;
		display: grid;
		place-content: center;
		width: 100%;

		iframe {
			max-width: 300px;
			height: 300px;
		}
	}

	@media (min-width: 460px) {
		.entregas-iframe-container {
			width: 100%;

			iframe {
				max-width: 400px;
				height: 400px;
			}
		}
	}

	/* TABLE SM */
	@media (min-width: 640px) {
		.entregas-info {
			font-size: 20px;
			line-height: 28px;
		}
	}

	/* TABLET MD */
	@media (min-width: 768px) {
		.entregas-content {
			grid-template-columns: repeat(2, 1fr) !important;

			justify-items: stretch;
			column-gap: 24px;
		}

		.entregas-info-container {
			background-color: transparent;
		}

		.entregas-info {
			grid-row: 1;
			grid-column: span 1;
		}
	}

	/* TABLET LG */
	@media (min-width: 1024px) {
		.entregas-content {
			column-gap: 72px;
		}

		.entregas-iframe-container > iframe {
			max-width: 568px;
			height: 450px;
		}
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
		.entregas-content {
			padding: 16px 160px;
		}
		.img-pan {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 210px;
		}
	}

	/* DESKTOP LG */
	@media (min-width: 1536px) {
	}
</style>
