---
import SectionHeader from "../../components/SectionHeader.astro";
import InfoProductosLayout from "../../layouts/InfoProductosLayout.astro";
---

<section>
  <SectionHeader>Productos</SectionHeader>
  <InfoProductosLayout categoria="pastelería">
    Gran variedad de <b>tortas, cupcakes y postres caseros.</b> Contamos tambien
    con opciones <b>veganas, keto y apto celíaco.</b>
  </InfoProductosLayout>
  <InfoProductosLayout categoria="panadería">
    Elaboración de <b>panes, tartas y productos de panaderia</b> caseros, incluyendo
    opciones <b>veganas, keto y apto celíaco.</b>
  </InfoProductosLayout>
</section>
