---
import { Image } from 'astro:assets'
import SectionHeader from '../../components/astro/SectionHeader.astro'
import BannerSobreMi from '../../assets/img/banner-sobre-mi.png'
import Pan from '../../assets/icons/png/pan.png'
import BgWave from '../../assets/img/wave-section-1.svg'
---

<section id="sobre-mi" class="sobre-mi">
	<SectionHeader>Sobre mí</SectionHeader>
	<div class="sobre-mi-content container my-12 px-8 lg:px-16 xl:px-40">
		<div class="sobre-mi-img-container">
			<Image src={BannerSobreMi} alt="Sobre mí" class="sobre-mi" />
		</div>
		<p class="sobre-mi-info">
			¡Hola! Soy <b>Inés, graduada Masterchef</b> y una auténtica <b
				>aventurera de los sabores.</b
			>Creo <b>delicias únicas que despiertan los sentidos</b> y alegran el
			día de quienes las prueban. Cada bocado refleja mi dedicación a la calidad
			y mi <b>deseo de sorprender con cada creación.</b>
		</p>
	</div>
	<Image src={BgWave} alt="" class="img-wave" />
	<Image src={Pan} alt="" class="img-pan" />
</section>

<style>
	.sobre-mi-content {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
	}
	.sobre-mi-img-container {
		padding: 8px;
		border: 1px solid var(--chocolate);
		margin-bottom: 16px;
		max-width: 460px;
	}

	.sobre-mi-info {
		display: block;
		font-size: 16px;
		line-height: 20px;
		max-width: 460px;

		b {
			font-style: italic;
			font-weight: 600;
		}
	}

	.img-wave {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100dvw;
		height: 100%;
		z-index: -10;
		object-fit: contain;
		object-position: bottom center;
	}

	.img-pan {
		display: none;
	}

	/* TABLE SM */
	@media (min-width: 640px) {
		.sobre-mi-info {
			font-size: 20px;
			line-height: 28px;
		}
	}

	/* TABLET MD */
	@media (min-width: 768px) {
		.sobre-mi-content {
			padding: 16px 0;
			grid-template-columns: repeat(2, 1fr) !important;

			justify-items: stretch;
			column-gap: 24px;
		}

		.sobre-mi-img-container {
			padding: 16px;
			margin-bottom: 16px;
		}
	}

	/* TABLET LG */
	@media (min-width: 1024px) {
		.sobre-mi-content {
			column-gap: 72px;
		}
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
		.sobre-mi-content {
			padding: 16px 160px;
		}
		.img-pan {
			display: block;
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 210px;
		}
	}

	/* DESKTOP LG */
	@media (min-width: 1536px) {
	}
</style>
