@import url(./layout.css);
@import url(./colors.css);
@import url(./typography.css);
@import url(./swiper.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hover-transition: all 0.2s ease-in;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
