@import url(./layout.css);
@import url(./colors.css);
@import url(./typography.css);
@import url(./transiciones.css);
@import url(./common.css);
@import url(./swiper.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hover-transition: all 0.2s ease-in;
}

html {
	width: 100dvw;
	height: 100dvh;
	position: relative;
}

body {
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
