---
import { Image } from 'astro:assets'
import BaseButton from '../components/astro/BaseButton.astro'
import BannerPasteleria from '../assets/img/banner-pasteleria.png'
import BannerPanaderia from '../assets/img/banner-panaderia.png'
import Trigo from '../assets/icons/png/trigo.png'

import ObserverAnimation from '../utils/ObserverAnimation'

type Props = {
	categoria: 'pastelería' | 'panadería'
}

const { categoria } = Astro.props
---

<div class="producto" id={categoria}>
	<div
		class="producto-content container my-4 lg:my-12 px-8 lg:px-16 xl:px-40"
	>
		<div>
			<h3 class="producto-titulo animated">{categoria}</h3>
			<p class="producto-descripcion animated">
				<slot />
			</p>
			<BaseButton class="producto-precios animated">
				Ver precios
			</BaseButton>
		</div>
	</div>
	<Image
		src={categoria === 'pastelería' ? BannerPasteleria : BannerPanaderia}
		alt={`seccion-${categoria}`}
		class="banner-producto xl:top-5 animated"
	/>
	<Image src={Trigo} alt="" class="img-trigo" />
</div>

<style>
	.producto {
		position: relative;
	}

	.producto-content {
		background-color: white;
		border-radius: 8px;
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 36px;
	}

	.producto-titulo {
		color: var(--orange);
		text-transform: uppercase;
		font-weight: 600;
		font-size: 40px;
		line-height: 64px;
		opacity: 0;
	}

	.producto-descripcion {
		font-size: 20px;
		color: var(--chocolate);
		font-style: italic;
		margin-bottom: 24px;
		opacity: 0;
	}

	.banner-producto {
		height: 300px;
		width: auto;
		margin-left: auto;
	}

	.img-trigo {
		display: none;
	}

	.pulse {
		animation-name: pulse;
		animation-duration: 800ms !important;
	}

	@media (min-width: 480px) {
		.banner-producto {
			height: 400px;
		}
	}

	/* TABLE SM */
	@media (min-width: 640px) {
		.producto-content {
			height: 400px;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}
		.banner-producto {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			height: 300px;
		}

		.producto-precios {
			animation-name: fade-in;
			opacity: 0;
		}
	}

	/* TABLET MD */
	@media (min-width: 768px) {
		.producto-content {
		}
		.banner-producto {
			height: 360px;
		}
	}

	/* TABLET LG */
	@media (min-width: 1024px) {
		.img-trigo {
			display: block;
			position: absolute;
			top: -125px;
			left: 0;
			width: 230px;
		}

		.banner-producto {
			height: 500px;
		}
	}

	/* DESKTOP */
	@media (min-width: 1280px) {
	}

	/* DESKTOP LG */
	@media (min-width: 1536px) {
	}

	@keyframes pulse {
		0%,
		100% {
			filter: brightness(1) saturate(1);
		}

		50% {
			filter: brightness(1.05) saturate(0.7);
		}
	}
</style>
