---
import '../assets/styles/index.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Descubre pastelería y panadería artesanal en Buenos Aires. Opciones veganas, keto y aptas para celíacos. Pedidos personalizados y entregas flexibles."
		/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="icon" type="image/png" href="/Favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="theme-color" content="#724832" />

		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Bakery",
				"name": "Inés a la Cocina",
				"image": "https://loquacious-custard-38b98e.netlify.app/.net…y/images?url=_astro%2Flogo-landscape.B3Hrw-oZ.svg",
				"telephone": "+54 11 5555-5555",
				"email": "contacto@inesalacocina.com",
				"url": "https://loquacious-custard-38b98e.netlify.app",
				"openingHours": "Mo-Fr 09:00-18:00",
				"priceRange": "$$",
				"servesCuisine": [
					"Postres",
					"Panadería",
					"Pastelería",
					"Sin TACC",
					"Opciones Veganas",
					"Keto"
				],
				"sameAs": ["https://www.instagram.com/inesalacocina"]
			}
		</script>
	</head>

	<body>
		<slot />
	</body>
</html>
<style is:global></style>
